<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Chỉnh sửa sản phẩm</title>
</head>
<body>
<div layout:fragment="content">
    <h2>CHỈNH SỬA SẢN PHẨM</h2>

    <form th:action="@{/products/edit}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />

        <div>
            <label>Tên sản phẩm:</label><br/>
            <input type="text" th:field="*{name}" />
            <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div><br/>

        <div>
            <label>Giá:</label><br/>
            <input type="number" th:field="*{price}" />
            <p style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div><br/>

        <div>
            <label>Danh mục:</label><br/>
            <select name="categoryId">
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.name}"
                        th:selected="${product.category != null && cat.id == product.category.id}">
                </option>
            </select>
        </div><br/>

        <div>
            <label>Hình ảnh hiện tại:</label><br/>
            <img th:if="*{image}" th:src="@{'/images/' + *{image}}" width="100" style="border: 1px solid #ccc;"/><br/>
            <label>Chọn ảnh mới (nếu muốn thay đổi):</label><br/>
            <input type="file" name="imageProduct" />
        </div><br/>

        <button type="submit">Lưu thay đổi</button>
        <a th:href="@{/products}">Quay lại</a>
    </form>
</div>
</body>
</html>